<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816179177968-c6ptvipjucb3cl785et09uj9jl4s37tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816179177968-c6ptvipjucb3cl785et09uj9jl4s37tq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>816179177968-1gp2pa582ivk792spmlh45969ma8753b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pSdmcSK-jctCQsGSEru0NROGpNCSdew</string>
	<key>GCM_SENDER_ID</key>
	<string>816179177968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sunpower.guideware</string>
	<key>PROJECT_ID</key>
	<string>baharka-library-e410f</string>
	<key>STORAGE_BUCKET</key>
	<string>baharka-library-e410f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816179177968:ios:d89e402df481fae4629535</string>
</dict>
</plist>